.side-banner-container {
  background-color: whitesmoke;
  width: 40%; /* Ocupa 40% da largura da tela */
  display: flex;
  flex-direction: column; /* Itens em coluna */
  justify-content: center; /* Centraliza verticalmente */
  align-items: center; /* Centraliza horizontalmente */
  padding: 2rem;
  text-align: center;
}

.logo {
  max-width: 250px; /* Define um tamanho máximo para o logo */
  width: 250px;
  height: auto;
  margin-bottom: 2.5rem; /* Espaço abaixo do logo */
}

.system-title {
  color: #333;
  font-size: 1.5rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  .side-banner-container {
    width: 100%; /* Ocupa a largura toda */
    padding: 3rem 1rem; /* Ajusta o padding para a versão mobile */
    min-height: auto; /* Remove altura mínima se houver */
  }

  .logo {
    max-width: 150px; /* Diminui um pouco o logo */
  }
}