/* src/pages/Login.css */
.login-page-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
}

.login-form-area {
  flex: 1; /* Ocupa a outra metade */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #39883E;
}